<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>962433887373-bm2j4o51emsn86oi6q65kn30lj88ffou.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.962433887373-bm2j4o51emsn86oi6q65kn30lj88ffou</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>962433887373-d1r0bg5vafg8blduolim3ps16rrcfiag.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDnNEnhsSm0DdEVTrMCEZSFfabaWWnZwxs</string>
	<key>GCM_SENDER_ID</key>
	<string>962433887373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chatapp-d7d9c</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chatapp-d7d9c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:962433887373:ios:8eda80ac3b170251ae86c4</string>
</dict>
</plist>